<a href="https://colab.research.google.com/github/HighLvRiver/HighLvRiver.github.io/blob/master/Recommendations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 추천 시스템의 유형

*   **콘텐츠 기반 필터링 (Content Based Filtering)**
*   **협업 필터링 (Collaborative Filtering)**
    * **최근접 이웃 협업 필터링 (Nearest Neighbor Filtering)**
        * 사용자 기반(User-User)
            - **Customer like you** also bought these items.
            - 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식
            - 특정 사용자와 타 사용자 간의 유사도(Similarity)를 측정한 뒤 가장 유사도가 높은 TOP-N 사용자를 추출해 그들이 선호하는 아이템을 추천
        * 아이템 기반(Item-Item)
            - **Customers who bought this item** also bought these items.
            - 아이템이 가지는 속성과 상관없이 사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘
            - 일반적으로 사용자 기반보다 아이템 기반 협업 필터링이 정확도가 더 높음
                - 비슷한 영화(또는 상품)을 좋아한다고 해서 사람들의 취향이 비슷하다고 판단하기는 어려운 경우가 많기 때문
                - 사용자들이 평점을 매긴 영화(상품)의 개수가 많지 않은 경우가 일반적인데 이를 기반으로 다른 사람과의 유사도를 비교하기가 어려운 부분이 존재
                - 따라서, **최근접 이웃 협업 필터링**은 대부분 **아이템 기반의 알고리즘**을 적용함

    * **잠재 요인 협업 필터링 (Latent Filtering)**
        - 사용자-아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법
        - 대규모 다차원 행렬을 SVD와 같은 차원 감소 기법으로 분해하는 과정에서 잠재 요인을 추출하는데, 이러한 기법을 **행렬 분해(Matrix Factorization)**이라고 함
        - 행렬 분해 기반의 잠재 요인 협업 필터링은 *넷플릭스 경연 대회에서 사용되면서 유명해짐*

### 행렬 분해(Matrix Factorization, MF)의 이해

- 다차원의 매트릭스를 저차원 매트릭스로 분해하는 기법
- 대표적으로 SVD(Singular Vector Decomposition), NMF(Non-Negative Matrix Fatorization) 등이 있음 (**주로 SVD 방식을 이용함**)
- 하지만 SVD는 Null 이 없는 행렬에만 적용할 수 있음
- 이 경우, **확률적 경사 하강법(Stochastic Gradiden Descent, SGD)나 ALS(Alternating Leat Squares) 방식을 이용**해 SVD를 수행함
  - SGD : P와 Q행렬로 계산된 예측 R 행렬 값이 실제 R 행렬 값과 가장 최소의 오류를 가질 수 있도록 반복적인 비용 함수 최적화를 통해 P와 Q를 유추해내는 것

In [0]:
# SGD를 이용해 행렬 분해(MF)를 수행하는 예제

import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정

R = np.array([[4     , np.NaN, np.NaN, 2, np.NaN],
              [np.NaN,      5, np.NaN, 3,      1],
              [np.NaN, np.NaN,      3, 4,      4],
              [5     ,      2,      1, 2, np.NaN]
              ])

num_users, num_items = R.shape
K = 3

# 분해 행렬 P와 Q는 정규 분포를 가진 랜덤 값으로 초기화
# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력

np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [0]:
# 실제 R 행렬과 예측 행렬의 오차를 구하는 get_rmse() 함수 생성
# 실제 R 행렬의 Null이 아닌 행렬 값의 위치 인덱스를 추출해 이 인덱스에 있는 실제 R 행렬 값과 분해된 P, Q를 이용해 다시 조합된 예측 행렬 값의 RMSE 값을 반환

from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0
  # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
  full_pred_matrix = np.dot(P, Q.T)

  # 실제 R 행렬에서 Null이 아닌 값의 위치 인덱스를 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
  rmse = np.sqrt(mse)

  return rmse

In [0]:
# SGD 기반 행렬 분해 수행
# R 에서 Null을 제외한 데이터의 행렬 인덱스를 추출
## steps는 SGD를 반복해서 업데이트할 횟수를 의미
## learning_rate는 SGD의 학습률
## r_lambda는 L2 Regularization 계수
### get_rmse() 함수를 통해 50회 반복할 때마다 오류 값을 출력

# R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장
non_zeros = [ (i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0 ]

steps = 1000
learning_rate = 0.01
r_lambda = 0.01

# SGD 기법으로 P와 Q를 계속 업데이트

for step in range(steps):
  for i, j, r in non_zeros:
    # 실제 값과 예측 값의 차이인 오류 값을 구함
    eij = r - np.dot(P[i,:], Q[j,:].T)
    # Regulatization을 반영한 SGD 업데이트 공식 적용
    P[i,:] = P[i,:] + learning_rate * (eij * Q[j,:] - r_lambda*P[i,:])
    Q[j,:] = Q[j,:] + learning_rate * (eij * P[i,:] - r_lambda*Q[j,:])
    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 50) == 0 :
      print("### iteration step : ", step, " rmse : ", rmse)

### iteration step :  0  rmse :  3.261355059488935
### iteration step :  0  rmse :  3.26040057174686
### iteration step :  0  rmse :  3.253984404542389
### iteration step :  0  rmse :  3.2521583839863624
### iteration step :  0  rmse :  3.252335303789125
### iteration step :  0  rmse :  3.251072196430487
### iteration step :  0  rmse :  3.2492449982564864
### iteration step :  0  rmse :  3.247416477570409
### iteration step :  0  rmse :  3.241926055455223
### iteration step :  0  rmse :  3.2400454107613084
### iteration step :  0  rmse :  3.240166740749792
### iteration step :  0  rmse :  3.2388050277987723
### iteration step :  50  rmse :  0.5003190892212748
### iteration step :  50  rmse :  0.5001616291326989
### iteration step :  50  rmse :  0.49899601202578087
### iteration step :  50  rmse :  0.4988483450145831
### iteration step :  50  rmse :  0.49895189256631756
### iteration step :  50  rmse :  0.49833236830090993
### iteration step :  50  rmse :  0.4984148489378701
### iteration step :  50  rmse :  0.49792599580240876
### iteration step :  50  rmse :  0.4900605568692785
### iteration step :  50  rmse :  0.4890370238665435
### iteration step :  50  rmse :  0.48869176023997846
### iteration step :  50  rmse :  0.4876723101369648
### iteration step :  100  rmse :  0.15911521988578564
### iteration step :  100  rmse :  0.1588091617801093
### iteration step :  100  rmse :  0.1587409221708901
### iteration step :  100  rmse :  0.1582856952842508
### iteration step :  100  rmse :  0.1583080948216876
### iteration step :  100  rmse :  0.15828832993767403
### iteration step :  100  rmse :  0.15787486893092847
### iteration step :  100  rmse :  0.15792073606567072
### iteration step :  100  rmse :  0.15725245215457084
### iteration step :  100  rmse :  0.15710664164665206
### iteration step :  100  rmse :  0.15690252144190003
### iteration step :  100  rmse :  0.1564340384819247
### iteration step :  150  rmse :  0.07546004875264435
### iteration step :  150  rmse :  0.07544589133447106
### iteration step :  150  rmse :  0.07543234329653023
### iteration step :  150  rmse :  0.07514800672233914
### iteration step :  150  rmse :  0.07518867696418177
### iteration step :  150  rmse :  0.0752288950993841
### iteration step :  150  rmse :  0.07489318864469259
### iteration step :  150  rmse :  0.07493400425933257
### iteration step :  150  rmse :  0.07462695506527872
### iteration step :  150  rmse :  0.07464332131959663
### iteration step :  150  rmse :  0.0746444164156341
### iteration step :  150  rmse :  0.07455141311978046
### iteration step :  200  rmse :  0.04361016579439073
### iteration step :  200  rmse :  0.04370913068953006
### iteration step :  200  rmse :  0.04369072102767977
### iteration step :  200  rmse :  0.043475549832271414
### iteration step :  200  rmse :  0.0435313092537358
### iteration step :  200  rmse :  0.04359240037575283
### iteration step :  200  rmse :  0.04329647906053838
### iteration step :  200  rmse :  0.04332057192123618
### iteration step :  200  rmse :  0.04310448294502512
### iteration step :  200  rmse :  0.04313550286658552
### iteration step :  200  rmse :  0.04313786864806258
### iteration step :  200  rmse :  0.04325226798579314
### iteration step :  250  rmse :  0.029395183185609734
### iteration step :  250  rmse :  0.02954402948437167
### iteration step :  250  rmse :  0.02950187436758184
### iteration step :  250  rmse :  0.029329609713572593
### iteration step :  250  rmse :  0.02940211807327667
### iteration step :  250  rmse :  0.02946720568417511
### iteration step :  250  rmse :  0.029189294191791375
### iteration step :  250  rmse :  0.029198757426747605
### iteration step :  250  rmse :  0.028995742260002243
### iteration step :  250  rmse :  0.02904415445054541
### iteration step :  250  rmse :  0.029049587101179365
### iteration step :  250  rmse :  0.029248328780878973
### iteration step :  300  rmse :  0.022678715233749362
### iteration step :  300  rmse :  0.022844873864300484
### iteration step :  300  rmse :  0.022773566650325074
### iteration step :  300  rmse :  0.02263234507322516
### iteration step :  300  rmse :  0.02272006255153119
### iteration step :  300  rmse :  0.022778917442558434
### iteration step :  300  rmse :  0.022516243062381223
### iteration step :  300  rmse :  0.022515508246519694
### iteration step :  300  rmse :  0.02229491665298542
### iteration step :  300  rmse :  0.022367287171783136
### iteration step :  300  rmse :  0.022392303480653113
### iteration step :  300  rmse :  0.022621116143829466
### iteration step :  350  rmse :  0.019516973680183715
### iteration step :  350  rmse :  0.019681605297160464
### iteration step :  350  rmse :  0.019585635379668415
### iteration step :  350  rmse :  0.01946716545524988
### iteration step :  350  rmse :  0.01956568678979253
### iteration step :  350  rmse :  0.019614020075870497
### iteration step :  350  rmse :  0.019368393329296258
### iteration step :  350  rmse :  0.019361014872334943
### iteration step :  350  rmse :  0.019116038405167533
### iteration step :  350  rmse :  0.01920981547997513
### iteration step :  350  rmse :  0.019255623979392192
### iteration step :  350  rmse :  0.019493636196525135
### iteration step :  400  rmse :  0.01803666559195465
### iteration step :  400  rmse :  0.01819133106334419
### iteration step :  400  rmse :  0.018078504374883574
### iteration step :  400  rmse :  0.01797554592952707
### iteration step :  400  rmse :  0.018080509676855847
### iteration step :  400  rmse :  0.018118882879536648
### iteration step :  400  rmse :  0.017889686482489363
### iteration step :  400  rmse :  0.017878066671070433
### iteration step :  400  rmse :  0.01761224433968553
### iteration step :  400  rmse :  0.01772096734904666
### iteration step :  400  rmse :  0.01778179645659777
### iteration step :  400  rmse :  0.018022719092132704
### iteration step :  450  rmse :  0.017334045429542092
### iteration step :  450  rmse :  0.01747683493759156
### iteration step :  450  rmse :  0.01735361907510825
### iteration step :  450  rmse :  0.017260553985290646
### iteration step :  450  rmse :  0.01736909385010645
### iteration step :  450  rmse :  0.017399933857257726
### iteration step :  450  rmse :  0.01718431757863743
### iteration step :  450  rmse :  0.01716990649625117
### iteration step :  450  rmse :  0.01688861579579296
### iteration step :  450  rmse :  0.017006638154083088
### iteration step :  450  rmse :  0.01707679250866153
### iteration step :  450  rmse :  0.01731968595344266
### iteration step :  500  rmse :  0.016991609248052833
### iteration step :  500  rmse :  0.01712340891578616
### iteration step :  500  rmse :  0.01699398405641037
### iteration step :  500  rmse :  0.01690707049203008
### iteration step :  500  rmse :  0.01701760577221745
### iteration step :  500  rmse :  0.017043277556700362
### iteration step :  500  rmse :  0.01683803145900356
### iteration step :  500  rmse :  0.016821674312725313
### iteration step :  500  rmse :  0.016529281264429145
### iteration step :  500  rmse :  0.0166528887951985
### iteration step :  500  rmse :  0.016728541275490984
### iteration step :  500  rmse :  0.016973657887570753
### iteration step :  550  rmse :  0.016818969716266233
### iteration step :  550  rmse :  0.016941445597444732
### iteration step :  550  rmse :  0.0168082592988841
### iteration step :  550  rmse :  0.016725234339747562
### iteration step :  550  rmse :  0.01683693849143515
### iteration step :  550  rmse :  0.016859187050621206
### iteration step :  550  rmse :  0.016661644526141564
### iteration step :  550  rmse :  0.01664385102006508
### iteration step :  550  rmse :  0.016343446075494233
### iteration step :  550  rmse :  0.01647044082182643
### iteration step :  550  rmse :  0.01654932331426952
### iteration step :  550  rmse :  0.016796804595895633
### iteration step :  600  rmse :  0.016727439717439115
### iteration step :  600  rmse :  0.016842259158977232
### iteration step :  600  rmse :  0.016706687924467476
### iteration step :  600  rmse :  0.016626255644609397
### iteration step :  600  rmse :  0.016738696939262717
### iteration step :  600  rmse :  0.016758682415985614
### iteration step :  600  rmse :  0.0165668572000528
### iteration step :  600  rmse :  0.016547954461110684
### iteration step :  600  rmse :  0.016241668760761063
### iteration step :  600  rmse :  0.016370800056137867
### iteration step :  600  rmse :  0.016451627209257007
### iteration step :  600  rmse :  0.01670132290188466
### iteration step :  650  rmse :  0.016674291334806343
### iteration step :  650  rmse :  0.016782895588885082
### iteration step :  650  rmse :  0.016645698091647773
### iteration step :  650  rmse :  0.01656714079916223
### iteration step :  650  rmse :  0.016680091021598568
### iteration step :  650  rmse :  0.016698554271430792
### iteration step :  650  rmse :  0.016511017732427972
### iteration step :  650  rmse :  0.016491228766905293
### iteration step :  650  rmse :  0.01618054419796173
### iteration step :  650  rmse :  0.01631111150707529
### iteration step :  650  rmse :  0.01639316772050061
### iteration step :  650  rmse :  0.01664473691247669
### iteration step :  700  rmse :  0.0166383624426085
### iteration step :  700  rmse :  0.016741936743323586
### iteration step :  700  rmse :  0.016603524189001625
### iteration step :  700  rmse :  0.016526454393300468
### iteration step :  700  rmse :  0.016639792083379498
### iteration step :  700  rmse :  0.016657201345297346
### iteration step :  700  rmse :  0.016472928381641428
### iteration step :  700  rmse :  0.01645241257047358
### iteration step :  700  rmse :  0.016138379086448083
### iteration step :  700  rmse :  0.016269993747904915
### iteration step :  700  rmse :  0.01635288508504558
### iteration step :  700  rmse :  0.016605910068210026
### iteration step :  750  rmse :  0.01660906046895522
### iteration step :  750  rmse :  0.016708562969098305
### iteration step :  750  rmse :  0.016569153528341783
### iteration step :  750  rmse :  0.016493367054249922
### iteration step :  750  rmse :  0.016607027966870924
### iteration step :  750  rmse :  0.01662368102752549
### iteration step :  750  rmse :  0.016441927271724666
### iteration step :  750  rmse :  0.0164208024653437
### iteration step :  750  rmse :  0.016104179990850755
### iteration step :  750  rmse :  0.016236628551952913
### iteration step :  750  rmse :  0.016320141009292095
### iteration step :  750  rmse :  0.016574200475705
### iteration step :  800  rmse :  0.016581161561119846
### iteration step :  800  rmse :  0.016677363428436936
### iteration step :  800  rmse :  0.016537069269613652
### iteration step :  800  rmse :  0.0164624613777787
### iteration step :  800  rmse :  0.016576412350487568
### iteration step :  800  rmse :  0.01659250180024954
### iteration step :  800  rmse :  0.01641271740942833
### iteration step :  800  rmse :  0.016391072859801518
### iteration step :  800  rmse :  0.01607242307736876
### iteration step :  800  rmse :  0.016205589842521878
### iteration step :  800  rmse :  0.016289609430091494
### iteration step :  800  rmse :  0.01654431582921597
### iteration step :  850  rmse :  0.01655222898431553
### iteration step :  850  rmse :  0.01664575121547569
### iteration step :  850  rmse :  0.016504627328190514
### iteration step :  850  rmse :  0.016431145801748863
### iteration step :  850  rmse :  0.016545370571042432
### iteration step :  850  rmse :  0.016561024020105147
### iteration step :  850  rmse :  0.016382795627019747
### iteration step :  850  rmse :  0.016360700076085824
### iteration step :  850  rmse :  0.016040446344395578
### iteration step :  850  rmse :  0.016174269580681345
### iteration step :  850  rmse :  0.016258737354641353
### iteration step :  850  rmse :  0.01651375177473524
### iteration step :  900  rmse :  0.016521280433777957
### iteration step :  900  rmse :  0.016612624200841405
### iteration step :  900  rmse :  0.016470695682261876
### iteration step :  900  rmse :  0.016398314989165292
### iteration step :  900  rmse :  0.016512806333073466
### iteration step :  900  rmse :  0.01652811087350182
### iteration step :  900  rmse :  0.016351122754892394
### iteration step :  900  rmse :  0.016328629783842166
### iteration step :  900  rmse :  0.016007096878603234
### iteration step :  900  rmse :  0.016141544071514122
### iteration step :  900  rmse :  0.016226430843994055
### iteration step :  900  rmse :  0.01648146573819501
### iteration step :  950  rmse :  0.016488081335748316
### iteration step :  950  rmse :  0.016577652134974717
### iteration step :  950  rmse :  0.01643492933498176
### iteration step :  950  rmse :  0.0163636366204062
### iteration step :  950  rmse :  0.01647839195954869
### iteration step :  950  rmse :  0.01649340903060659
### iteration step :  950  rmse :  0.016317416842511007
### iteration step :  950  rmse :  0.016294568571753248
### iteration step :  950  rmse :  0.015972009545965248
### iteration step :  950  rmse :  0.0161070634587959
### iteration step :  950  rmse :  0.016192355609214733
### iteration step :  950  rmse :  0.016447171683479155

In [0]:
# 분해된 P와 Q 함수를 P * Q.T 로 예측 행렬을 만들어서 출력

pred_matrix = np.dot(P, Q.T)
print('문제 행렬:\n', R)
print('--------------------------------')
print('예측 행렬:\n', np.round(pred_matrix, 3))

문제 행렬:
 [[ 4. nan nan  2. nan]
 [nan  5. nan  3.  1.]
 [nan nan  3.  4.  4.]
 [ 5.  2.  1.  2. nan]]
--------------------------------
예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

# 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트

- TMDB 5000 영화 데이터 세트는 유명한 영화 데이터 정보 사이트인 IMDB의 많은 영화 중 주요 5000개 영화에 대한 메타 정보를 새롭게 가공해 Kaggle에서 제공하는 데이터 세트
- 데이터 
  - https://www.kaggle.com/tmdb/tmdb-movie-metadata
    - tmdb_5000_credits.csv
    - tmdb_5000_movies.csv

## 장르 속성을 이용한 영화 콘텐츠 기반 필터링

### 데이터 사전 준비

In [0]:
# 파일 Colab 업로드

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving tmdb_5000_movies.csv to tmdb_5000_movies.csv
User uploaded file "tmdb_5000_movies.csv" with length 5698602 bytes

In [0]:
# 데이터 로딩 및 가공

import pandas as pd 
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import io

movies = pd.read_csv(io.StringIO(uploaded['tmdb_5000_movies.csv'].decode('utf-8'))) 

print(movies.shape)
movies.head(1)

(4803, 20)

      budget  ... vote_count
0  237000000  ...      11800

[1 rows x 20 columns]

In [0]:
# tmdb_5000_movies.csv는 4803개의 레코드와 20개의 피처로 구성되어 있음
# 이 중 콘텐츠 기반 필터링 추천 분석에 사용할 주요 칼럼만 추출해 새롭게 DataFrame을 생성

movies_df = movies[['id','title','genres','vote_average','vote_count','popularity','keywords','overview']]

# 'genres','keywords' 등과 칼럼을 보면 
# [{"id":28,"name":"Action"},{"id":12,"name":"Adventure"}]
# 와 같이 파이썬 리스트(list) 내부에 여러 개의 딕셔너리(dict)가 있는 형태의 문자열로 표기되어 있음

pd.set_option('max_colwidth',100)
movies_df[['genres','keywords']][:1]

# 'genres' 컬럼의 문자열을 분해해서 개별 장르를 파이썬 리스트 객체로 추출
# Series 객체의 apply()에 literal_eval() 함수를 적용해 문자열을 객체로 변환

from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

# 이체 'genres' 칼럼은 문자열이 아니라 실제 리스트 내부에 여러 장르 딕셔너리로 구성된 객체를 가짐
# 이 중 ['ACtion','Adventure']와 같이 장르면만 리스트 객체로 추출

movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres','keywords']][:1]

                                          genres                                                                                             keywords
0  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa...

### 장르 콘텐츠 유사도 측정

- 만약 영화 A의 'genres'가 [Action, Adventure, Fantasy, Science Fiction] 으로 되어 있고, 영화 B의 'genres'가 [Adventure, Fantasy, Action] 으로 되어 있다면 어떻게 장르별 유사도를 측정할 수 있을까? 
  - 'genres'를 **문자열로 변경**한 뒤 이를 **CountVectorizer**로 **피처백터화한 행렬 데이터 값을 코사인 유사도로 비교**
---
1. 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환
2. genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도를 통해 비교
  - 이를 위해 데이터 세트의 레코드별로 타 레코드와 장르에서 코사인 유사도 값을 가지는 객체를 생성
3. 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백 문자로 word 단위가 구분되는 문자열로 변환
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [0]:
# CountVectorizer로 변환해 4803개의레코드와 276개의 개별 단어 피처로 구성된 피처 벡터 행렬이 만들어졌음
# 이렇게 생성된 피처 벡터 행렬에 사이킷런의 cosine_similarity()를 이용해 코사인 유사도를 계산

from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

- cosine_similarities() 호출로 생성된 genre_sim 객체는 movies_df의 genre_literal 칼럼을 피처 벡터화한 행렬(genre_mat) 데이터의 행(레코드)별 유사도 정보를 가지고 있으며, 결국은 movies_df DataFrame의 행별 장르 유사도 값을 가지고 있는 것임.

- movies_df를 장르 기준으로 콘텐츠 기반 필터링을 수행하려면 movies_df의 개별 레코드에 대해서 가장 장르 유사도가 높은 순으로 다른 레코드를 추출해야 하는데, 이를 위해 앞에서 생성한 genre_sim 객체를 이용함.

- genre_sim 객체의 기준 행별로 비교 대상이 되는 행의 유사도 값이 높은 순으로 정렬된 행렬의 위치 인덱스 값을 추출하면 됨. 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라 비교 대상 행의 위치 인덱스임에 주의해야함.

- Numpy의 argsort() 함수를 이용하면 유사도가 높은 순으로 정리된 genre_sim 객체의 비교 행 위치 인덱스를 간편하게 얻을 수 있음.

In [0]:
# genre_sim.argsort()[:,::-1]를 사용해높은 순으로 정렬된 비교 행 위치 인덱스 값을 가져오고, 
# 그 중에 0번 레코드의 비교 행 위치 인덱스 값만 샘플로 추출해보면 다음과 같음

genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [0]:
# 반환된 [[   0 3494  813 ... 3038 3037 2401]]이 의미하는 것은 0번 레코드의 경우, 
# 자신인 0번 레코드를 제외하면 3494번 레코드가 가장 유사도가 높고, 그 다음이 813번 레코드이며, 
# 가장 유사도가 낮은 레코드는 2401번 레코드라는 뜻임

### 장르 콘텐츠 필터링을 이용한 영화 추천

- 장르 유사도에 따라 영화를 추천하는 함수 생성
  - 함수명 : fine_sim_move() 
  - 인자
    - movies_df : 기반 DataFrame
    - genre_sim_sorted_ind : 레코드별 장르 코사인 유사도 인덱스
    - 고객이 선정한 추천 기준이 되는 영화 제목
    - 추천할 영화 건수
  - 반환(return) : 추천 영화 정보를 가지는 DataFrame

In [0]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
  # 인자로 입력된 movies_df DataFrame에서 'title' 칼럼이 입력된 title_name 값인 DataFrame 추출
  title_movie = df[df['title'] == title_name]

  # title_named을 가진 DataFrame의 index 객체를 ndarray로 반환하고
  # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
  title_index = title_movie.index.values
  similar_indexes = sorted_ind[title_index, :(top_n)]

  # 추출된 top_n index 출력, top_n index는 2차원 데이터임
  # DataFrame에서 index로 사용하기 위해서 1차원 array로 변경
  print(similar_indexes)
  similar_indexes = similar_indexes.reshape(-1)

  return df.iloc[similar_indexes]

In [0]:
# find_sim_movie() 함수를 이용해 영화 '대부'와 장르별로 유사한 영화 10개를 추천

find_sim_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
find_sim_movies[['title','vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [0]:
# 장르는 유사하나, 평점이 좋지 않거나, 낯선 영화도 많이 리스트업됨 
# 일단 좀 더 많은 후보군을 선정한 뒤에 영화의 평점에 따라 필터링을 해서 최종 추천하는 방식을 적용해보기로 함

# vote_average는 0부터 10점까지 여러 관객이 평가한 평점을 평균한 것인데, 1명 2명의 소수의 관객이 특정 영화에 만점이나 매우 높은 평점을 부여해 왜곡된 데이터를 가지고 있음
# 이를 확인하기 위해 sort_values()를 이용해 평점 오름차순으로 movies_df를 정렬해봄

movies_df[['title','vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

소수 관객에 의한 평점 왜곡 현상을 보완하기 위해 **'평가 횟수'에 따라 가중치가 부여**된 평점 방식을 적용하기로 함
-  **가중 평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C**
  - v : 개별 영화에 평점을 투표한 횟수
  - m : 평점을 부여하기 위한 최소 투표 횟수
  - R : 개별 영화에 대한 평균 평점
  - C : 전체 영화에 대한 평균 평점

In [0]:
# V 는 movies_df의 vote_count 값이며, R 값은 vote_average 값에 해당
# C의 경우 전체 영화의 평균 평점이므로 movies_df['vote_average'].mean()으로 구할 수 있음
# m의 경우 투표횟수에 따른 가중치를 직접 조정하는 역할을 하는데, m 값을 톺이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여함
# m 값은 전체 투표 횟수에서 상위 60%에 해당하는 횟수를 기준으로 정함

C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C,3),'m:', round(m, 3))

C: 6.092 m: 370.2

In [0]:
# 기존 평점을 새로운 가중 평점으로 변경하는 함수 생성하고 이를 이용해 새로운 평점 정보인 'weighted_vote' 값을 만듦

percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
  v = record['vote_count']
  R = record['vote_average']

  return ((v/(v+m)*R)) + ((m/(v+m))*C)

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average,axis=1)

In [0]:
# 새로 부여된 weighted_vote 평점이 높은 순으로 상위 10개의영화를 추출
movies_df[['title','vote_average','vote_count','weighted_vote']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930
1818          Schindler's List           8.3        4329       8.126069
3865                  Whiplash           8.3        4254       8.123248
809               Forrest Gump           8.2        7927       8.105954
2294             Spirited Away           8.3        3840       8.105867
2731    The Godfather: Part II           8.3        3338       8.079586

In [0]:
# 새롭게 정의된 평점 기준에 따라 영화 추천 진행

def find_sim_movie(df, sorted_ind, title_name, top_n=10):
  title_movie = df[df['title'] == title_name]
  title_index = title_movie.index.values

  # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
  similar_indexes = sorted_ind[title_index, :(top_n*2)]
  similar_indexes = similar_indexes.reshape(-1)

  # 기준 영화 인덱스는 제외
  similar_indexes = similar_indexes[similar_indexes != title_index]

  # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n 만큼 추출
  return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

find_sim_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
find_sim_movies[['title','vote_average','vote_count','weighted_vote']]

                            title  vote_average  vote_count  weighted_vote
2731       The Godfather: Part II           8.3        3338       8.079586
1847                   GoodFellas           8.2        3128       7.976937
3866                  City of God           8.1        1814       7.759693
1663  Once Upon a Time in America           8.2        1069       7.657811
883           Catch Me If You Can           7.7        3795       7.557097
281             American Gangster           7.4        1502       7.141396
4041              This Is England           7.4         363       6.739664
1149              American Hustle           6.8        2807       6.717525
1243                 Mean Streets           7.2         345       6.626569
2839                     Rounders           6.9         439       6.530427

하지만 장르만으로는 영화가 전달하는 많은 요소와 분위기, 그리고 개인이 좋아하는 성향을 반영하기에 부족할 수 있음.

# 아이템 기반 최근접 이웃 협업 필터링 실습

- 협업 필터링 기반의 영화 추천을 위해서는 사용자가 영화의 평점을 매긴 사용자-영화 평점 행렬 데이터 세트가 필요함
- 이를 위해 Grouplens 사이트에서 만든 MovieLens 데이터 세트를 이용해 실습을 진행
- 데이터
  - https://www.grouplens.org/datasets/movielens/latest/
    - ml-latest-small.zip (size: 1MB)

## 데이터 가공 및 변환

In [0]:
# 파일 Colab 업로드

from google.colab import files

movies_loaded = files.upload()

for fn in movies_loaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(movies_loaded[fn])))

Saving movies.csv to movies.csv
User uploaded file "movies.csv" with length 494431 bytes

In [0]:
ratings_loaded = files.upload()

for fn in ratings_loaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(ratings_loaded[fn])))

Saving ratings.csv to ratings.csv
User uploaded file "ratings.csv" with length 2483723 bytes

In [0]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import io

movies = pd.read_csv(io.StringIO(movies_loaded['movies.csv'].decode('utf-8'))) 
ratings = pd.read_csv(io.StringIO(ratings_loaded['ratings.csv'].decode('utf-8')))

print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [0]:
# 평점은 최소 0.5 에서 최대 5점 사이며, 0.5점 단위로 평점이 부여됨
# 협업 필터링은 사용자와 아이템간의 평점(또는 다른 유형의 액션)에 기반해 추천하는 시스템

# 로우(행) 레벨 형태의 원본 데이터 세트를 모든 사용자를 로우로, 모든 영화를 컬럼으로 구성한 데이터 세트로 변경

ratings = ratings[['userId','movieId','rating']]
ratings_matrix = ratings.pivot_table('rating',index='userId', columns='movieId')
ratings_matrix.head(3)

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[3 rows x 9724 columns]

In [0]:
# 가독성을 높이기 위해 칼럼명을 movieID가 아닌 영화명 title로 변경
# 최소 평점은 0.5 이므로 NaN은 모두 0으로 변환

# title 칼럼을 얻기 위해 movies와 조인
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title'로 title 칼럼으로 피벗 수행
ratings_matrix = rating_movies.pivot_table('rating',index='userId', columns='title')

# NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0

[3 rows x 9719 columns]

## 영화 간 유사도 산출

- 영화 간의 유사도는 코사인 유사도를 기반으로 함
  - 사이킷런의 cosine_similarity()를 이용해 측정

In [0]:
# 영화 간의 코사인 유사도를 측정하기 위해 rating_matrix 행렬을 아이템 기준으로 행열 변환

ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId                                   1    2    3    4    ...  607  608  609  610
title                                                        ...
'71 (2014)                               0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Round Midnight (1986)                   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[3 rows x 610 columns]

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity()로 반환된 넘파이 행렬에 영화명을 매핑해 DataFrame으로 변환

item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title                                    '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                ...
'71 (2014)                                      1.0  ...                                        0.0
'Hellboy': The Seeds of Creation (2004)         0.0  ...                                        0.0
'Round Midnight (1986)                          0.0  ...                                        0.0

[3 rows x 9719 columns]

In [0]:
# item_sim을 DataFrame 으로 변환한 item_sim_df를 이용해 영화 '대부(Godfather, The (1972))'와 유사도가 높은 상위 6개 영화를 추출해보기

item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [0]:
# 이번에는 영화 '인셉션'과 유사도가 높은 영화 찾아보기. 자신은 유사도에서 제외 처리. 

item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

## 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

- 앞 예제에서 만든 아이템 기반의 영화 유사도 데이터는 모든 사용자의 평점을 기준으로 영화의 유사도를 생성
- 하지만, 이는 개인적인 취향을 반영하지 않고 영화 간의 유사도만을 가지고 추천한 것
- 이번에는 영화 유사도 데이터를 이용해 최근접 이웃 협업 필터링으로 개인에게 최적화된 영화 추천을 구현
  - 개인화된 영화 추천의 가장 큰 특징은 개인이 아직 관람하지 않은 영화를 추천한다는 것
  - 아지 관람하지 않은 영화에 대해서 아에팀 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 해 새롭게 모든 영화의 예측 평점을 계산한 후 높은 예측 평점을 가진 영화를 추천하는 방식

\begin{equation}
\hat{R}_{u,i} = \sum{^N(S_{i,N}*R_{u,N})} / \sum{^N(\bracevert{S_{i,N}\bracevert)}}\\
\hat{R}_{u,i} : 사용자\ u, 아이템\ i의\ 개인화된\ 예측\ 평점\ 값\\
S_{i,N} : 아이템\ i와\ 가장\ 유사도가\ 높은\ Top-N개\ 아이템의\ 유사도\ 벡터\\
R_{u,N} : 사용자\ u의\ 아이템\ i와\ 가장\ 유사도가\ 높은\ Top-N개\ 아이템에\ 대한\ 실제\ 평점\ 벡터\\
N : 아이템의\ 최근접\ 이웃\ 범위\ 계수(item\ neighbor)
\end{equation}

N값의 범위에 제약을 두지 않는다면,  
사용자별 영화 예측 평점은 사용자 u의 모든 영화에 대한 실제 평점과  
영화 i의 다른 모든 영화와의 코사인 유사도를 벡터 내적 곱한 값을 정규화를 위해 \begin{equation} \sum{^N(\bracevert{S_{i,N}\bracevert)}} \end{equation}로 나눈 것을 의미

In [0]:
def predict_rating(ratings_arr, item_sim_arr):
  ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
  return ratings_pred

\begin{equation}
\sum{^N(S_{i,N}*R_{u,N})} 
\end{equation}
= ratings_arr.dot(item_sim_arr)

\begin{equation}
\sum{^N(\bracevert{S_{i,N}\bracevert)}}
\end{equation}
= np.array([np.abs(item_sim_arr).sum(axis=1)])

In [0]:
# predict_rating() 함수를 이용해 개인화된 예측 평점 구하기

ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1         0.070345  ...                                   0.720347
2         0.018260  ...                                   0.000000
3         0.011884  ...                                   0.084501

[3 rows x 9719 columns]

In [0]:
# 예측 평점이 사용자별 영화의 실제 평점과 영화의 코사인 유사도를 내적한 값이기 때문에 기존에 영화를 관람하지 않아 
# 0에 해당했던 실제 영화 평점이 예측에서는 값이 부여되는 경우가 발생
# 예측 평점이 실제 평점에 비해 작을 수 있음. 이는 내적 결과를 코사인 유사도 벡터 합으로 나누었기 때문에 생기는 현상임.

# 이 예측 결과가 원래의 실제 평점과 얼마나 차이가 있는 지 확인
# 예측 평가 지표는 MSE를 적용 (기존에 평점이 부여된 데이터에 대해서만 오차 정도를 측정)

from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함

def get_mse(pred, actual):
  # 평점이 있는 실제 영화만 추출
  pred = pred[actual.nonzero()].flatten()
  actual = actual[actual.nonzero()].flatten()
  return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

ValueError: ignored

In [0]:
# 실제 값과 예측 값은 서로 스케일이 다르기 때문에 MSE가 클 수도 있음. 중요한 것은 MSE를 감소시키는 방향으로 개선하는 것임.
# 기존 predict_rating() 함수는 사용자별 영화의 예측 평점을 계산하기 위해 해당 영화와 다른 모든 영화 간의 유사도 벡터를 적용한 것
# 많은 영화의 유사도 벡터를 이용하다 보니 상대적으로 평점 예측이 떨어지게 됨
# 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하는 함수로 변경
## 단 아래 로직은 for 루프를 반복 수행하면서 TOP-N 유사도 벡터를 계산해야하기 떄문에 수행 시간이 오래 걸림
## 지금 사용하는 데이터 세트는 크기가 얼마 안 돼 개인용 노트북에서 2분 안에 완료될 수 있지만, 데이터의 크기가 커지면 오래 걸리는 로직임

def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
  # 사용자-아이템 평점 행렬 크기 만큼 0으로 채운 예측 행렬 초기화
  pred = np.zeros(ratings_arr.shape)

  # 사용자-아이템 평점 행렬의 열 크기 만큼 루프 수행
  for col in range(ratings_arr.shape[1]):
    # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
    top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
    # 개인화된 예측 평점을 계산
    for row in range(ratings_arr.shape[0]):
      pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row,:][top_n_items].T)
      pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
  
  return pred

In [0]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

아이템 기반 최근접 TOP-20 이웃 MSE : 3.6949827608772314

In [0]:
# 특정 사용자에 대해 영화를 추천 
# userId = 9 인 사용자에게 영화를 추천해보기

# 먼저 9번 userID 사용자가 어떤 영화를 좋아하는 지 확인

user_rating_id = ratings_matrix.loc[9,:]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

In [0]:
# 이 사용자에게 아이템 기반 협업 필터링을 통해 영화를 추천
# 먼저 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수인 
# get_unseen_movies()를 생성

def get_unseen_movies(ratings_matrix, userID):
  # userID로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함
  # 반환된 user_rating은 영화명(title)을 인덱스로 가지는 Series 객체임
  user_rating = ratings_matrix.loc[userID,:]

  # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 인덱스를 추출해 list 객체로 만듦
  already_seen = user_rating[user_rating > 0].index.tolist()

  # 모든 영화명을 list 객체로 만듦
  movies_list = ratings_matrix.columns.tolist()

  # list comprehension으로 already_seen에 해당하는 영화는 movies_list에서 제외함
  unseen_list = [movie for movie in movies_list if movie not in already_seen]

  return unseen_list

In [0]:
# 인자 : 추천하려는 사용자 id, 추천 후보 영화 리스트, 추천 상위 영화 개수

def recomm_movie_by_userID(pred_df, userID, unseen_list, top_n=10):
   # 예측 평점 DataFrame에서 사용자id인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해
   # 가장 예측 평점이 높은 순으로 정렬함
   recomm_movies = pred_df.loc[userID, unseen_list].sort_values(ascending=False)[:top_n]
   return recomm_movies 

# 사용자가 관람하지 않는 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix,9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userID(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

# 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

- 일반적으로 행렬분해에는 SVD가 자주 사용되지만 사용자-아이템 평점 행렬에는 사용자가 평점을 매기지 않은 Null 데이터가 많기 때문에
- 주로 SGD나 ALS 기반의 행렬 분해를 이용함

In [0]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
  num_users, num_items = R.shape
  # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력
  np.random.seed(1)
  P = np.random.normal(scale=1./K, size=(num_users, K))
  Q = np.random.normal(scale=1./K, size=(num_items, K))

  prev_rmse = 10000
  break_count = 0

  # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
  non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]

  # SGD기법으로 P와 Q 매트릭스를 계속 업데이트
  for step in range(steps):
    for i, j ,r in non_zeros:
      # 실제 값과 예측 값의 차이인 오류 값 구함
      eij = r - np.dot(P[i,:], Q[j,:].T)
      # Regularization을 반영한 SGD 업데이트 공식 적용
      P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
      Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])

    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 10) == 0:
      print("### iteration step : ", step, " rmse : ", rmse)
    
  return P, Q

In [0]:
# 데이터 다시 불러오기

import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import io

movies = pd.read_csv(io.StringIO(movies_loaded['movies.csv'].decode('utf-8'))) 
ratings = pd.read_csv(io.StringIO(ratings_loaded['ratings.csv'].decode('utf-8')))

ratings = ratings[['userId','movieId','rating']]
ratings_matrix = ratings.pivot_table('rating',index='userId', columns='movieId')

In [0]:
# title 칼럼을 얻기 위해 movies와 조인 수행
ratings_movies = pd.merge(ratings, movies, on='movieId')

# coulms='title'로 title 칼럼으로 pivot 수행
ratings_matrix = rating_movies.pivot_table('rating',index='userId', columns='title')

In [0]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
  
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [0]:
# matrix_factorization() 함수를 이용해 행렬 분해
# 수행 시간이 오래 걸리므로 SGD 반복 횟수인 steps는 200회만 지정
# 잠재요인 차원 K는 50, 학습률과 L2 Regularization 계수는 모두 0.01로 설정하고 수행

P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)

pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  2.9023619751336867
### iteration step :  10  rmse :  0.7335768591017927
### iteration step :  20  rmse :  0.5115539026853442
### iteration step :  30  rmse :  0.37261628282537446
### iteration step :  40  rmse :  0.2960818299181014
### iteration step :  50  rmse :  0.2520353192341642
### iteration step :  60  rmse :  0.22487503275269854
### iteration step :  70  rmse :  0.2068545530233154
### iteration step :  80  rmse :  0.19413418783028685
### iteration step :  90  rmse :  0.18470082002720403
### iteration step :  100  rmse :  0.17742927527209104
### iteration step :  110  rmse :  0.17165226964707492
### iteration step :  120  rmse :  0.16695181946871723
### iteration step :  130  rmse :  0.16305292191997545
### iteration step :  140  rmse :  0.15976691929679646
### iteration step :  150  rmse :  0.1569598699945732
### iteration step :  160  rmse :  0.1545339818671543
### iteration step :  170  rmse :  0.15241618551077643
### iteration step :  180  rmse :  0.1505508073962831
### iteration step :  190  rmse :  0.14889470913232092

In [0]:
# 더 쉽게 영화 아이템 칼럼을 이해하기 위해 반환된 예측 사용자-아이템 평점 행렬을 영화 타이틀을 칼럼명으로 가지는 DataFrame으로 변경

ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)

ratings_pred_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1         3.055084  ...                                   0.859474
2         3.170119  ...                                   0.725684
3         2.307073  ...                                   0.396941

[3 rows x 9719 columns]

## 개인화된 영화 추천

In [0]:
# 먼저 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수인 
# get_unseen_movies()를 생성

def get_unseen_movies(ratings_matrix, userID):
  # userID로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함
  # 반환된 user_rating은 영화명(title)을 인덱스로 가지는 Series 객체임
  user_rating = ratings_matrix.loc[userID,:]

  # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 인덱스를 추출해 list 객체로 만듦
  already_seen = user_rating[user_rating > 0].index.tolist()

  # 모든 영화명을 list 객체로 만듦
  movies_list = ratings_matrix.columns.tolist()

  # list comprehension으로 already_seen에 해당하는 영화는 movies_list에서 제외함
  unseen_list = [movie for movie in movies_list if movie not in already_seen]

  return unseen_list

In [0]:
# 인자 : 추천하려는 사용자 id, 추천 후보 영화 리스트, 추천 상위 영화 개수

def recomm_movie_by_userID(pred_df, userID, unseen_list, top_n=10):
   # 예측 평점 DataFrame에서 사용자id인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해
   # 가장 예측 평점이 높은 순으로 정렬함
   recomm_movies = pred_df.loc[userID, unseen_list].sort_values(ascending=False)[:top_n]
   return recomm_movies 

# 사용자가 관람하지 않는 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix,9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userID(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

In [0]:
# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 잠재 요인 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userID(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])

recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

# 파이썬 추천 시스템 패키지 - Surprise

In [0]:
!pip3 install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 7.4MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.16.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678062 sha256=6b42227da3dbc94eafda39eb41c64343435db2b6008ed1d7acc83d937eee36d9
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [0]:
from surprise import SVD, Dataset, accuracy
from surprise.model_selection import train_test_split

data = Dataset.load_builtin('ml-100k')
#수행 시마다 동일하게 데이터를 분할하기 위해 random_state 값 부여
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

In [0]:
algo = SVD() # 알고리즘 객체 생성
algo.fit(trainset) # 학습 데이터 세트 기반으로 추천 알고리즘 학습 진행

In [0]:
predictions = algo.test(testset)
print('prediction type :', type(predictions), ' size:', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type : <class 'list'>  size: 25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.691991813467798, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.705707305506705, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.054191985450693, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.4039506443621894, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.2251276456948292, details={'was_impossible': False})]

In [0]:
# 리스트 객체 내에 내포된 Prediction 객체의 uid, iid, r_ui, est 등의 속성에 접근하는 법
[(pred.uid, pred.iid, pred.est) for pred in predictions[:3]]

[('120', '282', 3.691991813467798),
 ('882', '291', 3.705707305506705),
 ('535', '507', 4.054191985450693)]

In [0]:
# Suprise 패키지의 다른 추천 예측 메서드인 predict()를 이용해 추천 예측 진행

# 사용자 아이디, 아이템 아이디는 문자열 입력해야 함
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.14   {'was_impossible': False}

In [0]:
# 추천 시스템의 성능 평가 확인
accuracy.rmse(predictions)

RMSE: 0.9492

0.9491839577460947

## Suprise를 이용한 개인화 영화 추천 시스템 구축

In [0]:
# 파일 Colab 업로드

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving ratings_noh.csv to ratings_noh (1).csv
User uploaded file "ratings_noh.csv" with length 2483690 bytes

In [0]:
import pandas as pd 
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import io

ratings_noh = pd.read_csv(io.StringIO(uploaded['ratings_noh.csv'].decode('utf-8'))) 
ratings_noh.to_csv('ratings_noh.csv', index=False, header=False)

from surprise import Reader
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5,5))
# DatasetAutoFolds 클래스를 ratings_noh.csv 파일 기반으로 생성. 
data_folds = DatasetAutoFolds(ratings_file='ratings_noh.csv', reader=reader)

#전체 데이터를 학습데이터로 생성함. 
trainset = data_folds.build_full_trainset()

In [0]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

In [0]:
# userId=9 의 movieId 데이터 추출하여 movieId=42 데이터가 있는지 확인. 
movieIds = ratings[ratings['userId']==9]['movieId']
if movieIds[movieIds==42].count() == 0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')

print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [0]:
uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.10   {'was_impossible': False}

In [0]:
def get_unseen_surprise(ratings, movies, userId):
    #입력값으로 들어온 userId에 해당하는 사용자가 평점을 매긴 모든 영화를 리스트로 생성
    seen_movies = ratings[ratings['userId']== userId]['movieId'].tolist()
    
    # 모든 영화들의 movieId를 리스트로 생성. 
    total_movies = movies['movieId'].tolist()
    
    # 모든 영화들의 movieId중 이미 평점을 매긴 영화의 movieId를 제외하여 리스트로 생성
    unseen_movies= [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화수:',len(seen_movies), '추천대상 영화수:',len(unseen_movies), \
          '전체 영화수:',len(total_movies))
    
    return unseen_movies

unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화수: 46 추천대상 영화수: 9696 전체 영화수: 9742

In [0]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):

  # 알고리즘 객체의 predict() 메서도를 평점이 없는 영화에 반복 수행한 후 결과를 list 객체로 저장
  predicttions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]

  # predictions list 객체는 surprise의 Predictions 객체를 원소로 가지고 있음
  # [Prediction(uid='9', iid='1', est=3.69), Preditction(uid='9', iid='2', est=2.98),,,]
  # 이를 est 값으로 정렬하기 위해서 아래의 sortkey_est 함수를 정의함
  # sortkey_est 함수는 list 객체의 sort() 함수의 키 값으로 사용되어 정렬 수행
  def sortkey_est(pred):
    return pred.est
  
  # sortkey_est() 변환값의 내림차순으로 정렬 수행하고 top-n개의 최상위 값 추출
  predictions.sort(key=sortkey_est, reverse=True)
  top_predictions = predictions[:top_n]

  # top-n으로 추출된 영화의 정보 추출, 영화 아이디, 추천 예상 평점, 제목 추출
  top_movie_ids = [int(pred.iid) for pred in top_predictions]
  top_movie_rating = [pred.est for pred in top_predictions]
  top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']

  top_movie_preds = [(id, title, rating) for id, title, rating in zip(top_movie_ids, top_movie_titles, top_movie_rating)]

  return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)

print("\n")
print("##### Top-10 추천 영화 리스트 #####")
for top_movie in top_movie_preds:
  print(top_movie[1], ":", top_movie[2])

평점 매긴 영화수: 46 추천대상 영화수: 9696 전체 영화수: 9742


##### Top-10 추천 영화 리스트 #####
Usual Suspects, The (1995) : 5
Johnny Mnemonic (1995) : 5
Jury Duty (1995) : 5
Mighty Morphin Power Rangers: The Movie (1995) : 5
Swan Princess, The (1994) : 5
Shawshank Redemption, The (1994) : 5
Remains of the Day, The (1993) : 5